*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --primary: #111;
    --secondary: #119;
    --accent: #2563eb;
    --bg: #d3d3d3;
    --max-width: 1100px;
}

/* Dark si système en dark */
@media (prefers-color-scheme: dark)
{
    :root
    {
        --primary: #d3d3d3;
        --secondary: #2563eb;
        --accent: #119;
        --bg:  #111;
        --max-width: 1100px;
    }
}

/* Force light */
html[data-theme="light"]
{
  --primary: #111;
  --secondary: #119;
  --accent: #2563eb;
  --bg: #d3d3d3;
}

/* Force dark */
html[data-theme="dark"]
{
  --primary: #d3d3d3;
  --secondary: #119;
  --accent: #2563eb;
  --bg: #111;
}

body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    background: var(--bg);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--primary);
    /* transition: background 0.3s ease, color 0.3s ease; */
}

h2
{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

h3
{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

a
{
    transition: 0.3s ease;
}

.internal-link:hover,
.external-link:hover
{
    opacity: 0.8;
    color: var(--accent)
}

.container
{
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

header, footer
{
    background: var(--secondary);
    color: var(--bg);
}

header
{
    padding: 1rem 0;
    position: relative;
}

footer
{
    padding: 1rem;
    text-align: center;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links
{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a
{
    color: var(--bg);
    text-decoration: none;
}

.nav-links a:hover
{
    color: var(--primary);
}

#menu-toggle
{
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--bg);
}

#theme-toggle
{
    background: var(--primary);
    border-radius: 50%;
    height: 2rem;;
    width: 2rem;
}

#theme-toggle:hover
{
    background: var(--accent);
    cursor: pointer;
}

.hero
{
    background: var(--bg);
    text-align: center;
    padding: 4rem 0;
}

.internal-link
{
    display: inline-block;
    background: var(--accent);
    border: 4px solid transparent;
    color: var(--bg);
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    border-radius: 12px;
    margin-top: 1rem;
    transition: all 0.6s !important;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-behavior: normal;
    font-weight: bold;
}

.internal-link:hover
{
    background: var(--bg);
    color: var(--accent);
    border: 4px solid var(--accent);
    font-weight: bold;
}

.external-link
{
    display: inline-block;
    color: var(--secondary);
    text-decoration: none;
    margin-top: 1rem;
}

.external-link span
{
  font-size: 1em;
  margin-left: 2px;
}


.section
{
    padding: 3rem 0;
}

.skills-grid
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills-grid div
{
    background: var(--bg);
    padding: 0.8rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}

.project-card
{
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 4px solid var(--primary);
    background: var(--bg);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover
{
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.12);
}

.logo rect
{
  fill: var(--accent);
}

.logo text
{
  fill: var(--bg);
  font-size: 42px;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

.logo svg
{
    width: 50px;
    height: 50px;
    transition: transform 1.2s ease;
}

.logo:hover svg
{
    transform: rotate(-10deg) scale(1.15);
}

@media (max-width: 500px)
{
    .nav-links
    {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--accent);
        width: 200px;
        padding: 1rem;
        z-index: 42;
    }

    .nav-links.active
    {
        display: flex;
    }

    #menu-toggle
    {
        display: block;
        cursor: pointer;
    }
}

.modal
{
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content
{
  background: var(--bg);
  padding: 2rem;
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.modal-content button
{
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background: var(--accent);
  color: var(--bg);
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.hidden
{
  display: none;
}

@keyframes fadeIn
{
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
